@keyframes example {
  0%   {
    color: rgb(167, 36, 123);
  left:0;
  
}
  25%  {
    color: rgb(90, 22, 75);
    left: 50%;
  }
  50%  {
    color: rgb(255, 0, 149);
    left: 80%;
  }
  100% {
    color: rgb(248, 46, 130);
    left:50%;
  }
}
body {
    margin: 0;
    background: #0f0a0e;
    cursor: crosshair;
    text-align: center;
  }
  canvas{display:block}
  h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(161, 14, 137);
    font-family: "Source Sans Pro";
    font-size: 5em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
    /* text-decoration: underline; */
    animation-name: example;
    animation-duration: 20s;
    text-shadow: 2px 2px 8px rgb(238, 148, 190),2px 2px 5px rgb(195, 0, 255);
    
  }

  